[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/zeesh-99
[access "refs/for/refs/*"]
	read = group user/zeesh-99
	push = group user/zeesh-99
	label-Code-Review = -2..+2 group user/zeesh-99
	label-Verified = -1..+1 group user/zeesh-99
	rebase = group user/zeesh-99
	removeReviewer = group user/zeesh-99
	submit = group user/zeesh-99
[access "refs/heads/*"]
	read = group user/zeesh-99
	create = group user/zeesh-99
	push = +force group user/zeesh-99
	pushMerge = group user/zeesh-99
[access "refs/tags/*"]
	push = group user/zeesh-99
	push = +force group user/zeesh-99
[receive]
[submit]
